body {
    margin: 10px 25px 10px 25px;
}

.modal-content {
    padding: 20px;
}

#addressToInput {
    width: 400px;
}

#addressFromInput {
    width: 400px;
}

.gridContainer {
  border: solid #EC4F6A 10px;
  border-radius: 15px;
  background-color: #FFFFFF;
  padding: 30px;
}

#commuteDataDump {
  background-color: #4aaaa5;
}

#googleMapDump {
  background-color: pink;
}

#weatherDataDump {
  background-color: pink;
}
#weatherBox {
  background-color: pink;
}
#forecastDiv {
  background-color: #4aaaa5;
}
