* {
  box-sizing: border-box;
  margin: 0;
}
/* img.bg {
  height: 100%;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
} */

img.bg {
  min-height: 100%;
  min-width: 1024px;
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
}

@media screen and (max-width: 1024px) { /* Specific to this particular image */
  img.bg {
    left: 50%;
    margin-left: -512px;   /* 50% */
  }
}


.btn-primary {
  margin-left: 45%;
  margin-top: 20px;
}

html {
  height: 100%;
}

body {
  /* margin: 10px 25px 10px 25px; */
  height: 100%;
  /* background-image: url("../images/night.jpg"); */
}


#content-wrapper {
  height: 100%;
  overflow: scroll;
  height: 100%;
  background-image: url("../images/subway.jpg");
  background-size: 100% 100%;
  z-index: -1;
}


#navBar {
  width: 100%;
  padding-left: 5%;
  font-weight: bold;
  background-color:rgba(0,0,0,.5) !important;

}


#brandSpan {
  color: #FFFFFF;
}

#textSpan {
  color: #FFFFFF;
}
.navbar-brand {
font-size: 30px;
font-family: 'Roboto', sans-serif;
font-weight: bold;
}
#bodyWrap {
  font-size:25px;
}
.modal-content {
    padding: 20px;
}
#addressToInput {
    width: 400px;
}
#newDestination {
  z-index: 1000;
}
#addressFromInput {
    width: 400px;
}
.pac-container {
    background-color: #FFF;
    z-index: 20;
    position: fixed;
    display: inline-block;
    float: left;
}
.modal{
    z-index: 20;
    color: #FFFFFF;
}
.modal-content{
  margin-top: 12%;
  background-color:rgba(0,0,0,0.3);
}
.modal-backdrop{
    z-index: 10;

}

input {
  background-color:rgba(0,0,0,0.8);
  border:rgba(0,0,0,0.4);
  color: white;
}

#nameInput {
  color:white;
}

#map {
    width: 100%;
    height: 400px;
    margin-top: 10px;
}

#bodyWrap {
    display:none;
}

button.btn{
    display:none;
}

.gridContainer {
  z-index: 9;
  background-color: ;
  padding: 0;
  margin-top: 0;
  font-family: 'roboto';

  height:600px;
  overflow: auto;

}

#commuteDataDump {
  color: #FFFFFF;
  text-align: center;

}

#googleMapDump:hover {
  transform: scale(1.1);
  margin: 100px,0,100px,0;
  padding-bottom: 100px;


}



#weatherDataDump {
  color: white;
}

#weatherBox {

  text-align: center;
}

#umbrellaAlert {
  color: #FFFFFF;
  text-align: center;
  margin-bottom: 100px;
}

#canvas {
  margin-top: 20px;
  background:rgba(0,0,0,0.6);
  margin-bottom:50px;
}

#relaventDataDiv {
  /* background-color:rgba(0,0,0,0.6); */
  margin-top: 15%;
  font-size: 35px;
  font-weight:
}


#newDestination {
  margin-bottom:30px;
}

#alarmButton {
  margin-bottom: 30px;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
 background:rgba(0,0,0,0.5);
}

/* Handle */
::-webkit-scrollbar-thumb {
background:rgba(0,0,0,0.9);
}
