* {
  box-sizing: border-box;
}

.btn-primary {
  margin-left: 45%;
  margin-top: 20px;
}

body {
    margin: 10px 25px 10px 25px;
}

#navBar {
  border: solid #EC4F6A 8px;
  width: 100%;
  margin: 5px;
  padding-left: 10rem;
  font-weight: bold;
}

.navbar-brand {
font-size: 30px;
font-family: 'Roboto', sans-serif;
font-weight: bold;
}

#bodyWrap {
  font-size:25px;

}

.modal-content {
    padding: 20px;
}

#addressToInput {
    width: 400px;
}

#addressFromInput {
    width: 400px;
}
.pac-container {
    background-color: #FFF;
    z-index: 20;
    position: fixed;
    display: inline-block;
    float: left;
}
.modal{
    z-index: 20;
}
.modal-backdrop{
    z-index: 10;
}
#map {
    width: 100%;
    height: 400px;
    margin-top: 10px;
}
#bodyWrap {
    display:none;
}
button.btn{
    display:none;
}
.gridContainer {
  border: solid #EC4F6A 10px;
  border-radius: 15px;
  background-color: #FFFFFF;
  padding: 30px;
  margin-top: 30px;
  font-family: 'roboto';
}
#commuteDataDump {

  background-color: #FFFFFF;
  text-align: center;
  padding-top: 90px;
}

#googleMapDump:hover {
  transform: scale(1.05);

}


#weatherDataDump:hover {
  transform: scale(1.05);
  background-color: #FFFFFF;
}

#weatherBox {
  background-color: #FFFFFF;
  text-align: center;
}


#umbrellaAlert {
  background-color: #FFFFFF;
  text-align: center;

}

#canvas {
  margin-top: -10px;
  width: 10%;
  height: 400px;
}
